<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="canselUser(cansel)">
  <body>
  <div class="member_login">
    <form th:action="@{/cansel-user}" th:method="POST" id="delFrm">
      <input type="hidden" id="user_id" th:value="${user.id}"/>
      <p> 비밀번호를 입력해 주세요. </p>
        <div class="form-group">
          <input type="password" id="cansel_password" class="form-control" placeholder="비밀번호를 입력해주세요" />
          <span id="password-error" class="invalid-feedback" style="display: none;">패스워드가 다릅니다.</span>
        </div>


    </form>
  </div>
  </body>

  <script type="text/javascript">
	$(document).ready(function(e){
		$('#btn-cancel-user').click(function(){
			$.ajax({
				url: "/cansel-user",
				type: "POST",
				data: JSON.stringify(data),
				success: function(result){
					if(result==0){
						alert("비밀번호가 다릅니다.");
						return;
					}else{
						//탈퇴
							$('#delFrm').submit();

					}
				},
				error: function(){
					alert("서버 에러입니다. 다시 시도해 주세요.");
				}
			});
		});
	});
</script>

</th:block>