<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate=~{layout/default-layout}>
<th:block layout:fragment="content">
    <div class="container mt-5">
    <h1>DDW 커뮤니티</h1>
        <div class="mt-3">
            <a href="/board/posts-write" class="btn btn-primary">글 등록</a>
        </div>
            <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">최종수정일</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="posts : ${posts}">  <!--th:each : 반복 -->
                <td th:text="${posts.id}">No.</td>
                <td><a th:href="@{/board/posts-view/{id}(id=${posts.id})}" th:text="${posts. title}">제목</a></td>
                <td th:text="${posts.owner}">작성자</td>
                <td th:text="${posts.modifiedDate}">최종수정일</td>
                <td th:text="${posts.view}">조회수</td>
            </tr>
            </tbody>
        </table>
        </div>
    <div class="row" th:if="${pageInfo ne null}">
        <div class="col-12">
            <ul class="pagination pagination justify-content-center">
                <li class="page-item" th:classappend="${!pageInfo.isPrevExist} ? disabled">
                    <a class="page-link" href="#" th:href="${pageInfo.isPrevExist ? '/board/list?page=' + (pageInfo?.pageList[0] - 1) : ''}">&laquo;</a>
                </li>
                <li th:each="num: ${pageInfo.pageList}" class="page-item" th:classappend="${pageInfo.currentPageNum eq num} ? active">
                    <a class="page-link" href="#" th:href="${'/board/list?page=' + num}" th:text="${num}"></a>
                </li>
                <li class="page-item" th:classappend="${!pageInfo.isNextExist} ? disabled">
                    <a class="page-link" href="#" th:href="${pageInfo.isNextExist ? '/board/list?page=' + (pageInfo?.pageList[0] + 5) : ''}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>