<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" >
    <title>DDW 커뮤니티</title>
</head>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
<h1>DDW 커뮤니티</h1>
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>
        </tr>
        </thead>
    </table>



        <input style="width: 130px;" type="text" name="searchKeyword">
        <button type="submit">검색</button>
    </form>
</div>
</body>
</html>