<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate=~{layout/default-layout}>
<th:block layout:fragment="content">
    <div class="container mt-5">
        <h2>게시글 수정</h2>
        <form>
            <div class="form-group">
                <label for="title">No.</label>
                <input type="text" class="form-control" id="id" th:value="${post.id}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" th:value="${post.title}">
            </div>
            <div class="form-group">
                <label for="owner"> 작성자 </label> <!--나중에 회원이름으로 바꿀예정-->
                <input type="text" class="form-control" id="owner" th:value="${post.owner}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <input type="text" class="form-control" id="content" th:value="${post.content}">
            </div>
        </form>
        <a href="/board/list" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</th:block>
</html>