<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>

        </body>
        <!--board.js추가-->
        <script src="/js/app/board.js"></script>
        <div class="mt-5">
            <div class="text-center">
                <br>
                <br>
                <p>
                    <small class="text-muted">Copyright ©  dmsehf804 & dasl1101 All Rights Reserved.</small>
                </p>
                <br>
                <br>
            </div>
        </div>
    </footer>
</th:block>
</html>