<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate=~{layout/default-layout}>
<th:block layout:fragment="content">
    <div class="container mt-5">
        <h2>상품 설명 작성</h2>
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="name">상품명</label>
                <input type="text" class="form-control" id="name" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="price">가격</label>
                <input type="text" class="form-control" id="price" placeholder="제목을 입력하세요">
            </div>
            <input type="hidden" class="form-control" id="owner" th:value="${user.nickName}">
            <div class="form-group">
                <textarea id="content" rows="5" name="content" style="width:100%; height:250px;"></textarea>
            </div>

    </form>
        <a href="/shop/shop-list" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-saveShop">등록</button>
    </div>

    <script type="text/javascript">
    $('#content').summernote({
        height: 150,
        lang: "ko-KR",
        // 에디터에 커서 이동 (input창의 autofocus라고 생각)
        focus : true,
        toolbar: [
            // 글꼴 설정
            ['fontname', ['fontname']],
            // 글자 크기 설정
            ['fontsize', ['fontsize']],
            // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            // 글자색
            ['color', ['forecolor','color']],
            // 글머리 기호, 번호매기기, 문단정렬
            ['para', ['ul', 'ol', 'paragraph']],
            // 줄간격
            ['height', ['height']],
            // 그림첨부, 동영상첨부
		    ['insert',['picture','video']],
            // 코드보기, 확대해서보기, 도움말
            ['view', ['codeview','fullscreen', 'help']]
        ],
        // 추가한 글꼴
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
        // 추가한 폰트사이즈
        fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']

    });
</script>
    <script src = /js/app/item.js?ver=2></script>
</th:block>
</html>